@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-primary: #f10e28;
  --color-secondary: #ffffff;
}

.bg-primary {
  background-color: var(--color-primary);
}

.text-primary {
  color: var(--color-primary);
}
.bg-secondary {
  background-color: var(--color-secondary);
}

.text-secondary {
  color: var(--color-secondary);
}
